<div class="redline">
	<h2>header.component</h2>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="javascript:void(0)" class="navbar-brand">Recipe Book</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="javascript:void(0)">Recipes</a></li>
					<li><a href="javascript:void(0)">Shopping Lists</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)">Save Data</a></li>
							<li><a href="javascript:void(0)">Fetch Data</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>