<div class="redline">
	<h3>shopping-list.component</h3>
	<div class="row">
		<div class="col-xs-10">
			<app-shopping-edit></app-shopping-edit>
			<hr>
			<ul class="list-group">
				<li  class="list-group-item" *ngFor="let ingredient of ingredients">
					<a href="javascrtip:void(0);" class="shopping-list-item" >
						{{ ingredient.name }} ({{ingredient.amount}})
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>