<div class="redline">
	<h3>recipes.component</h3>
	<div class="row">
		<div class="col-md-5">
			<app-recipe-list></app-recipe-list>
		</div>
		<div class="col-md-7">
			<app-recipe-details></app-recipe-details>
		</div>
	</div>
</div>