/* You can add global styles to this file, and also import other style files */
.redline{
	border: 1px solid red !important;
	/*text-align: center;*/
}
.redlines *{
	border: 1px solid red !important;
}

